
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.kat-whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.kat-icon {
  position: fixed;
  height: 48px;
  width: 48px;
}

.kat-color {
  top: 0;
  right: 0;
}

.kat-clear {
  bottom: 0;
  left: 0;
}

.kat-color-picker {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
  z-index: 999;
}

.kat-is-visible {
	display: block !important;
}
